# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\projectweek\hybrid-cloud-numberone-web-new\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
